#gchFxMarketWatch {
  background: #000000;
  width: 500px;
  padding: 5px;
  border-radius:5px;
  color: #ffffff;
}

[class*='col-'] {
    float: left;
}
.col-1-4 {
    width: 25%;
    padding: 2px;

    background: linear-gradient(red, blue);
}
.col-1-4Header {
      width: 25%;
      padding: 2px;
      background-color: #1C1E22;
      font-weight: bold;
  }
